# Storybook requires this option to be set. See https://github.com/storybookjs/storybook/issues/18298
legacy-peer-deps=true
# Supply chain security: require packages to be at least 3 days old before install
min-release-age=3
