.vscode-codeql__result-table {
  display: none;
  border-collapse: collapse;
  width: 100%;
}

.vscode-codeql__result-table--selected {
  display: block;
}

.vscode-codeql__result-table-metadata {
  border-bottom: 1px solid rgba(88,96,105,0.25);
  padding: 0.5em 0;
  text-align: left;
}

.vscode-codeql__result-table th {
  border-bottom: 1px solid rgba(88,96,105,0.25);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  background: rgba(225,228,232, 0.25);
  padding: 0.25em 0.5em;
  text-align: center;
  font-weight: normal;
  opacity: 0.6;
}

.vscode-codeql__result-table td {
  margin: 0;
  padding: 0;
  padding: 0.25em 0.5em;
  white-space: pre-wrap;
  text-align: left;
}

.vscode-codeql__result-table-location-link {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 11px;
}

select {
  background-color: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);
  border-color: var(--vscode-dropdown-border);
  font-family: inherit;
  font-size: inherit;
}

.vscode-codeql__result-table-row--odd {
  background-color: inherit;
}

.vscode-codeql__result-table-row--even {
  background-color: rgba(209,213,218, 0.3);
}
