body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* -------------------------------------------------------------------------- */
/* SectionTitle component */
/* -------------------------------------------------------------------------- */

.vscode-codeql__section-title {
  font-size: medium;
  font-weight: 500;
  padding: 0 0.5em 0 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

/* -------------------------------------------------------------------------- */
/* ViewTitle component */
/* -------------------------------------------------------------------------- */

.vscode-codeql__view-title {
  font-size: large;
  margin-bottom: 0.5em;
  font-weight: 500;
}

/* -------------------------------------------------------------------------- */
/* VerticalSpace component */
/* -------------------------------------------------------------------------- */

.vscode-codeql__vertical-space {
  flex: 0 0 auto;
  height: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/* HorizontalSpace component */
/* -------------------------------------------------------------------------- */

.vscode-codeql__horizontal-space {
  flex: 0 0 auto;
  display: inline-block;
  width: 0.2rem;
}

/* -------------------------------------------------------------------------- */
/* Badge component */
/* -------------------------------------------------------------------------- */

.vscode-codeql__badge-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-left: 0.2em;
}

.vscode-codeql__badge {
  display: inline-block;
  min-width: 1.5em;
  padding: 0.3em;
  border-radius: 35%;
  font-size: x-small;
  text-align: center;
  background: var(--vscode-badge-background);
  color: var(--vscode-badge-foreground);
  border-color: var(--vscode-badge-background);
}

/* -------------------------------------------------------------------------- */
/* DownloadButton component */
/* -------------------------------------------------------------------------- */

.vscode-codeql__download-button {
  display: inline-block;
  font-size: x-small;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}

.vscode-codeql__download-button svg {
  fill: var(--vscode-textLink-foreground);
}

/* -------------------------------------------------------------------------- */
/* DownloadSpinner component */
/* -------------------------------------------------------------------------- */
.vscode-codeql__download-spinner {
  vertical-align: middle;
}

.vscode-codeql__download-spinner svg {
  width: 0.8em;
  height: 0.8em;
}
