.vscode-codeql__query-info-link {
  text-decoration: none;
  padding-right: 1em;
  color: var(--vscode-editor-foreground);
}

.vscode-codeql__query-info-link:hover {
  color: var(--vscode-editor-foreground);
}

.vscode-codeql__query-summary-container {
  padding-top: 1.5em;
}

.vscode-codeql__analysis-summaries-list-item {
  margin-top: 0.5em;
}

.vscode-codeql__analyses-results-list-item {
  padding-top: 0.5em;
}

.vscode-codeql__analysis-item {
  padding-right: 0.1em;
}

.vscode-codeql__expand-button {
  background: none;
  color: var(--vscode-textLink-foreground);
  border: none;
  cursor: pointer;
  padding-top: 1em;
  font-size: x-small;
}

.vscode-codeql__analysis-result-file-link {
  vertical-align: middle;
}

.vscode-codeql__analysis-failure {
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  color: var(--vscode-editor-foreground);
}

.vscode-codeql__flat-list {
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0 0 0;
}
