name: Build Extension
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v1
        with:
          node-version: '14.14.0'

      - name: Install dependencies
        working-directory: extensions/ql-vscode
        run: |
          npm install
        shell: bash

      - name: Build
        working-directory: extensions/ql-vscode
        env:
          APP_INSIGHTS_KEY: '${{ secrets.APP_INSIGHTS_KEY }}'
        run: |
          npm run build
        shell: bash

      - name: Prepare artifacts
        if: matrix.os == 'ubuntu-latest'
        run: |
          mkdir artifacts
          cp dist/*.vsix artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: matrix.os == 'ubuntu-latest'
        with:
          name: vscode-codeql-extension
          path: artifacts

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v1
        with:
          node-version: '14.14.0'

      - name: Install dependencies
        working-directory: extensions/ql-vscode
        run: |
          npm install
        shell: bash

      - name: Build
        working-directory: extensions/ql-vscode
        env:
          APP_INSIGHTS_KEY: '${{ secrets.APP_INSIGHTS_KEY }}'
        run: |
          npm run build
        shell: bash

      - name: Lint
        working-directory: extensions/ql-vscode
        run: |
          npm run lint

      - name: Install CodeQL
        run: |
          mkdir codeql-home
          curl -L --silent https://github.com/github/codeql-cli-binaries/releases/latest/download/codeql.zip -o codeql-home/codeql.zip
          unzip -q -o codeql-home/codeql.zip -d codeql-home
          unzip -q -o codeql-home/codeql.zip codeql/codeql.exe -d codeql-home
          rm codeql-home/codeql.zip
        shell: bash

      - name: Run unit tests (Linux)
        working-directory: extensions/ql-vscode
        if: matrix.os == 'ubuntu-latest'
        run: |
          CODEQL_PATH=$GITHUB_WORKSPACE/codeql-home/codeql/codeql npm run test

      - name: Run unit tests (Windows)
        if: matrix.os == 'windows-latest'
        working-directory: extensions/ql-vscode
        run: |
          $env:CODEQL_PATH=$(Join-Path $env:GITHUB_WORKSPACE -ChildPath 'codeql-home/codeql/codeql.exe')
          npm run test

      - name: Run integration tests (Linux)
        if: matrix.os == 'ubuntu-latest'
        working-directory: extensions/ql-vscode
        run: |
          sudo apt-get install xvfb
          /usr/bin/xvfb-run npm run integration

      - name: Run integration tests (Windows)
        if: matrix.os == 'windows-latest'
        working-directory: extensions/ql-vscode
        run: |
          npm run integration

  cli-test:
    name: CLI Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        version: ['v2.2.6', 'v2.3.3', 'v2.4.4']
    env:
      CLI_VERSION: ${{ matrix.version }}
      TEST_CODEQL_PATH: '${{ github.workspace }}/codeql'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '14.14.0'

      - name: Install dependencies
        working-directory: extensions/ql-vscode
        run: |
          npm install
        shell: bash

      - name: Build
        working-directory: extensions/ql-vscode
        run: |
          npm run build
        shell: bash

      - name: Checkout QL
        uses: actions/checkout@v2
        with:
          repository: github/codeql
          path: codeql

      - name: Run CLI tests (Linux)
        working-directory: extensions/ql-vscode
        if: matrix.os == 'ubuntu-latest'
        run: |
          /usr/bin/xvfb-run npm run cli-integration

      - name: Run CLI tests (Windows)
        working-directory: extensions/ql-vscode
        if: matrix.os == 'windows-latest'
        run: |
          npm run cli-integration
